@page
@model Desafio_FIAP___Beatrice_Damaceno.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.NomeTurma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.NomeTurma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Turma.DescTurma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turma.DescTurma)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Turma.TurmaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
