@page
@model Desafio_FIAP___Beatrice_Damaceno.Pages.Alunos.IndexModel

@{
    ViewData["Title"] = "Alunos";
}

<h1>Alunos</h1>

<p>
    <a asp-page="Create">Cadastrar Aluno</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alunos[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alunos[0].CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alunos[0].Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alunos[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Alunos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AlunoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AlunoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AlunoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    <p> Página @Model.Alunos.PageIndex de @Model.Alunos.TotalPages <br />
    Total: @Model.Alunos.TotalRows Alunos
    </p>

<div class="pagination">
    @if (Model.Alunos.HasPreviousPage)
    {
        <a asp-page="./Index" asp-route-pageIndex="@(Model.Alunos.PageIndex - 1)">Anterior</a>
    } else
    {
        <p>Anterior</p>    
    }

    <p style="white-space: pre;"> || </p>

    @if (Model.Alunos.HasNextPage)
    {
        <a asp-page="./Index" asp-route-pageIndex="@(Model.Alunos.PageIndex + 1)">Próxima</a>
    }
    else
    {
        <p>Próxima</p>
    }


</div>
